/**/*.sqlite3
/**/.env
/**/local.json
/**/node_modules/
/**/own_modules/
/**/package-lock.json
/**/tmp/
/**/ttttest.*
/.idea/
/cfg/local.*
/composer.lock
/http-client.env.json
/package-lock.json
/tmp/
/var/*.pid
/var/data.json
/var/store/**
/web/download/
/web/style/tailwind.min.css